faiss-cpu==1.7.4
sentence-transformers==2.5.1
transformers==4.38.0
bitsandbytes==0.42.0
accelerate
langchain==0.3.0
langchain-text-splitters
langchain-community
rank-bm25==0.2.2
bert-score==0.3.13
rouge-score
scikit-learn==1.3.0
torch==2.1.2
numpy
fastapi
uvicorn
pyngrok
nest-asyncio
ragas==0.1.0
pymupdf
python-pptx
ollama
requests
scipy
matplotlib